[client]
port=3306
socket=/usr/local/mysql5.7/mysql.sock
[mysql]
port=3306
socket=/usr/local/mysql5.7/mysql.sock
[mysqld]
user=mysql
port=3306
basedir=/usr/local/mysql5.7
datadir=/usr/local/mysql5.7/data
socket=/usr/local/mysql5.7/mysql.sock
symbolic-links=0
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld/mysqld.log
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
skip-name-resolve
tmpdir=/tmp
server-id=128
log_bin = /usr/local/mysql5.7/data/mysql_bin
log_bin_index = /usr/local/mysql5.7/data/mysql_bin.index
expire_logs_days = 30
max_binlog_size = 1024M
sync_binlog = 0
binlog_format = ROW
